@model InterviewTypeRequestModel;
<div class="container">
    <form asp-controller="InterviewType" asp-action="Create" method="post">
        <div class="my-5 row col-12">
            <label for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="my-5">
            <input type="checkbox" asp-for="IsActive" checked>
            <label for="IsActive">Is Active</label>
            <span asp-validation-for="IsActive"></span>
        </div>
        <input type="submit" value="Add InterviewType" class="btn btn-primary" />

    </form>
    
</div>