@model FeedbackResponseModel;

<form asp-controller="Feedback" asp-action="Delete" method="post">
    <div class="container">
        <div class="row">
            <label asp-for="InterviewId">InterviewId: </label>
            <span>@Model.InterviewId</span>
        </div>
        <div class="row">
            <label asp-for="Description">Description: </label>
            <span>@Model.Description</span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger">
    </div>
</form>

