@model SubmissionResponseModel;
<div class="container">
    <form asp-controller="Submission" asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden"/>
        <div class="my-5 row col-12">
            <label for="CandidateId">CandidateId</label>
            <select class="form-control" asp-for="CandidateId" asp-items="@ViewBag.CandidateList"></select>
            <span asp-validation-for="CandidateId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="JobRequirementId">JobRequirementId</label>
            <select class="form-control" asp-for="CandidateId" asp-items="@ViewBag.CandidateList"></select>
            <span asp-validation-for="JobRequirementId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="AppliedDate">AppliedDate</label>
            <input asp-for="AppliedDate" class="form-control" />
            <span asp-validation-for="AppliedDate"></span>
        </div>
        <input type="submit" value="Update Submission" class="btn btn-primary" />
    </form>
</div>

