@model IEnumerable<InterviewStatusResponseModel>;
<div class="page-header">
    <h1>List of InterviewStatuss</h1>
</div>
<a asp-controller="InterviewStatus" asp-action="Create">Add New InterviewStatus</a>

<table class="table table-bordered table-striped table hovered">
    <thead>
        <tr>
            <th>Title</th>
            <th>IsActive</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var m in Model)
            {
                <tr>
                    <td>@m.Title</td>
                    <td>@m.IsActive</td>
                    <td><a asp-controller="InterviewStatus" asp-action="Edit" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-controller="InterviewStatus" asp-action="Delete" asp-route-id="@m.Id">Delete</a></td>

                </tr>
            }
        }
    </tbody>
</table>